<h2 mat-dialog-title>Add user</h2>

<mat-dialog-content [formGroup]="form">

  <div>
    <mat-form-field>
      <input matInput placeholder="Fullname" formControlName="fullname" required>
      <mat-error *ngIf="isFieldInvalid('fullname')">
        Please inform the user fullname
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Address" formControlName="address" required>
      <mat-error *ngIf="isFieldInvalid('address')">
        Please inform the user address
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="isFieldInvalid('email')">
        Please inform the user email
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" required>
      <mat-error *ngIf="isFieldInvalid('username')">
        Please inform the username
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="isFieldInvalid('password')">
        Please inform the password
      </mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="add()" [disabled]="this.form.status === 'INVALID'">Add</button>
</mat-dialog-actions>
