<h2 mat-dialog-title>Update existing account</h2>

<mat-dialog-content [formGroup]="form">

  <!-- <div>
    <mat-form-field>
      <input matInput placeholder="ID" formControlName="id">
    </mat-form-field>
  </div> -->

  <div>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="isFieldInvalid('name')">
        Please inform the new name
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="IBAN" formControlName="iban" required>
      <mat-error *ngIf="isFieldInvalid('iban')">
        Please inform the new IBAN
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Account owner" formControlName="user" required>
      <mat-error *ngIf="isFieldInvalid('user')">
        Please inform the new owner ID
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Currency" formControlName="currency" required>
      <mat-error *ngIf="isFieldInvalid('currency')">
        Please inform the new currency
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Address" formControlName="address" required>
      <mat-error *ngIf="isFieldInvalid('address')">
        Please inform the new address
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Balance" formControlName="balance" required>
      <mat-error *ngIf="isFieldInvalid('balance')">
        Please inform the new balance
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Status" formControlName="status" required>
      <mat-error *ngIf="isFieldInvalid('status')">
        Please inform the new status
      </mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="update()"
    [disabled]="this.form.status === 'INVALID'">Update</button>
</mat-dialog-actions>
