<h2 mat-dialog-title>Create new payment</h2>

<mat-dialog-content [formGroup]="form">

  <div>
    <mat-form-field>
      <input matInput placeholder="Debit IBAN" formControlName="debitIban" [matAutocomplete]="auto1" required>
      <mat-error *ngIf="isFieldInvalid('debitIban')">
        Please inform the debit IBAN
      </mat-error>
      <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsDebit | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Credit IBAN" formControlName="creditIban" [matAutocomplete]="auto2" required>
      <mat-error *ngIf="isFieldInvalid('creditIban')">
        Please inform the credit IBAN
      </mat-error>
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsCredit | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Amount" formControlName="amount" required>
      <mat-error *ngIf="isFieldInvalid('amount')">
        Please inform the amount
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency" required>
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{currency}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFieldInvalid('currency')">
        Please inform the currency
      </mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="create()"
    [disabled]="this.form.status === 'INVALID'">Create</button>
</mat-dialog-actions>
