<h2 mat-dialog-title>Create new payment</h2>

<mat-dialog-content [formGroup]="form">

  <div>
    <mat-form-field>
      <input matInput placeholder="Debit IBAN" formControlName="debitIban">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Credit IBAN" formControlName="creditIban">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Amount" formControlName="amount">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Currency" formControlName="currency">
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="create()"
    [disabled]="this.form.status === 'INVALID'">Create</button>
</mat-dialog-actions>
