<h2 mat-dialog-title>Update existing user</h2>

<mat-dialog-content [formGroup]="form">

  <!-- <div>
    <mat-form-field>
      <input matInput placeholder="New ID" formControlName="id">
    </mat-form-field>
  </div> -->

  <div>
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" required>
      <mat-error *ngIf="isFieldInvalid('username')">
        Please inform the new username
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="New fullname" formControlName="fullname" required>
      <mat-error *ngIf="isFieldInvalid('fullname')">
        Please inform the new fullname
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="New email" formControlName="email" required>
      <mat-error *ngIf="isFieldInvalid('email')">
        Please inform the new email
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="New address" formControlName="address" required>
      <mat-error *ngIf="isFieldInvalid('address')">
        Please inform the new address
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Profile" formControlName="profile" required>
      <mat-error *ngIf="isFieldInvalid('profile')">
        Please inform the new profile
      </mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="modify()"
    [disabled]="this.form.status === 'INVALID'">Modify</button>
</mat-dialog-actions>
