<div>
  <mat-toolbar color="irelevantfortasteauahuehue">
    <a mat-button routerLink="/">Home</a>
    <button mat-button [matMenuTriggerFor]="menu">{{currentUser.username}}</button>
    <mat-menu #menu>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu><span class="example-spacer"></span>
    <a mat-button routerLink="/user" *ngIf="isAdmin">Users</a>
    <a mat-button routerLink="/account">Accounts</a>
    <a mat-button routerLink="/payment" *ngIf="isAdmin">Payments</a>
  </mat-toolbar>
</div>
